:root {
	--clr-background: black;
	--clr-accent: white;
	/* --- */
	--border: 2px solid var(--clr-accent);
}

/* --- */

body {
	background-color: var(--clr-background);
	height: 100%;
}

input[type="checkbox"] {
	appearance: none;
	width: 25px;
	height: 25px;
	background-color: var(--clr-background);
	border: var(--border);
	display: inline-block;
	position: relative;
	cursor: pointer;
	transition: 100ms;
}

input[type="checkbox"]:checked::after {
	content: "✔";
	color: var(--clr-accent);
	font-size: 23px;
	position: absolute;
	top: 9px;
	left: 11px;
	transform: translate(-50%, -50%);
}

input[type="checkbox"]:focus {
	outline: none;
	scale: 1.1;
}

input[type="text"],input[type="number"] {
	background-color: var(--clr-background);
	color: var(--clr-accent);
	border: var(--border);
	height: 25px;
	transition: 100ms;
}

input:focus {
	outline: 0;
	scale: 1.03;
}

/* --- | Custom number input stuff below */

/* SO to https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	text-align: center;
	appearance: textfield; /* Standard */
	-moz-appearance: textfield; /* Firefox */
}

.minusButton {
	position: absolute;
	background-color: transparent;
	color: var(--clr-accent);
	height: 27px;
	width: 27px;
	font-size: 20pt;
	text-align: center;
	border: none;
	cursor: pointer;
	z-index: 5;
	/* 3 more sins.... im sorry */
	line-height: 25px;
	margin-top: 1px;
	margin-left: 2px;
}

.plusButton {
	position: absolute;
	background-color: transparent;
	color: var(--clr-accent);
	height: 27px;
	width: 27px;
	font-size: 16pt;
	text-align: center;
	border: none;
	cursor: pointer;
	z-index: 5;
	/* Another 4 */
	margin-right: 2px;
	margin-top: 2.5px;
	line-height: 25px;
	transform: translateX(-107%);
}

.minusButton:focus, .plusButton:focus {
	outline: 0;
	text-decoration: underline;
}

/* --- */

.mainTitle {
	font-size: max(8vh,4vw);
	color: var(--clr-accent);
	margin: 0;
	margin-bottom: 3vh;
}

/* This is the one that holds all settings boxes */
.settingsContainer {
	gap: 3vh;
}

.settingsBox {
	display: flex;
	flex-direction: column;
	border: var(--border);
	width: 33vw;
	min-width: 300px;
	padding: 2vmin;
	gap: 10px;
	border-radius: 15px;
}

.settingsBox::before {
	position: absolute;
	margin-top: -5vh;
	margin-left: -0.3vw;
	padding-left: 0.3vw;
	padding-right: 0.3vw;
	content: attr(sectionTitle); /* Holy shit this is sick af*/
	color: var(--clr-accent);
	background-color: var(--clr-background)	;
	font-size: 20pt;
	text-align: left;
	user-select: none;
}

.Experimental {
	--clr-accent: rgb(255, 17, 17);
}

/* --- */

	.checkSettingContainer {
		display: flex;
		align-items: center;
		gap: 0.5vw;
	}

	.checkLabel {
		margin: 0;
		font-size: max(1.7vh,1.5vw);
		color: var(--clr-accent)
	}

/* --- */

	.textSettingContainer {
		display:flex;
		flex-direction: column;
		gap: 0.5vw;
	}

	.textLabel {
		margin: 0;
		font-size: max(1.7vh,1.5vw);
		color: var(--clr-accent)
	}

/* --- */

	.numberSettingContainer {
		display:flex;
		justify-content: space-evenly;
	}

	.numberLabel {
		margin: 0;
		font-size: max(1.7vh,1.5vw);
		color: var(--clr-accent)
	}

	.numberSideBySideSpecial {
		display: flex;
		gap: 1vh;
		flex-direction: column;
	}

	/* --- */

	.textSettingContainer {
		display: flex;
		gap: 0.5vw;
	}

	.charset {
		background-color: var(--clr-background);
		color: var(--clr-accent);
		font-family: monospace;
		font-size: 15pt;
		resize: none;
		border: var(--border);
	}

	.charset:focus {
		outline: none;
		scale: 1.02;
	}

	.flexoverwrite {
		flex-direction: column;
	}

	.fixme2 {
		margin-top: 1vh;
		width: 50%;
	}

/* --- */

.selectSettingContainer {
	display:flex;
	flex-direction: column;
	gap: 1vh;
}

.selectLabel {
	margin: 0;
	font-size: max(1.7vh,1.5vw);
	color: var(--clr-accent)
}

.focusselector {
	background-color: var(--clr-background);
	color: var(--clr-accent);
	height: 30px;
	border: var(--border);
	text-align: center;
}

.focusselector:focus {
	outline: none;
	scale: 1.03;
}

option {
	background-color: var(--clr-background);
	color: var(--clr-accent);
}

/* --- */

.saveButton {
	height: 30px;
	background-color: var(--clr-background);
	border: var(--border);
	color: var(--clr-accent);
	margin-bottom: 2vh;
	scale: 1.4;
}

.saveButton:focus {
	outline: none;
	scale: 1.5;
}

/* --- */

.checkLabel,.textLabel,.numberLabel,.selectLabel {
	user-select: none;
}

/* --- */

.flex-side-side {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-top-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
