:root {
	--window-width: 250px;
	--window-height: 320px;
	/* --- */
	--clr-background: black;
	--clr-accent: white;
	/* --- */
	--border: 2px solid var(--clr-accent);
	/* --- */
	--title-size: 28pt;
}

html {
	width: var(--window-width);
	height: var(--window-heighth);
}

body {
	margin: 0;
	background-color: var(--clr-background);
	border: var(--border)
}

input[type="text"],input[type="password"],input[type="number"] {
	background-color: var(--clr-background);
	color: var(--clr-accent);
	border: var(--border);
}

input:focus {
	outline: 0;
	scale: 1.05;
}

button:focus {
	outline: 0;
	text-decoration: underline;
}

a:focus,a:hover{
	outline: 0;
	color: var(--clr-accent);
}

*::placeholder {
	color: var(--clr-accent);
	filter: brightness(60%);
}

/* --- */

.header {
	width: 100%;
	height: 20%;
	gap: 3vw;
	padding-top: 3vh;
	padding-bottom: 3vh;
	user-select: none;
}

.keyLogo {
	height: calc(var(--title-size) + 5px);
	margin: 0;

	/* This is a sin but it looks so much better */
	transform: translateY(2px);
}

.title {
	font-size: var(--title-size);
	color: var(--clr-accent);
	margin: 0;
}

/* --- */

.userInputsContainer {
	gap:3.5vh;

}

.userInput {
	height: 25px;
	width: 80%;
	transition: 100ms;
}

/* --- */

.passwordInput {
	width: 100%;
}

.emojiList {
	user-select: none;
	gap: 1vw;
	right: 10vw;
	margin-top: 10px;
	position: absolute;
	width: 65px;
	padding: 0;
}

.emoji {
	font-size: 13pt;
	/* filter: saturate(0); */
	margin-left: -5px;
}

/* --- */

.quickSettings {
	gap: 3.5vh;
}

.numberInput {
	height: 25px;
	text-align: center;
	width: 88px;
	transition: 100ms;
}

/* --- | Custom number input stuff below */

/* SO to https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	appearance: textfield; /* Standard */
	-moz-appearance: textfield; /* Firefox */
}

.minusButton {
	position: absolute;
	background-color: transparent;
	color: var(--clr-accent);
	height: 27px;
	width: 27px;
	font-size: 20pt;
	text-align: center;
	border: none;
	cursor: pointer;
	z-index: 5;
	/* 3 more sins.... im sorry */
	line-height: 25px;
	margin-top: 1px;
	margin-left: 2px;
}

.plusButton {
	position: absolute;
	background-color: transparent;
	color: var(--clr-accent);
	height: 27px;
	width: 27px;
	font-size: 16pt;
	text-align: center;
	border: none;
	cursor: pointer;
	z-index: 5;
	/* Another 4 */
	margin-right: 2px;
	margin-top: 2.5px;
	line-height: 25px;
	transform: translateX(-107%);
}

/* --- */

.outputContainer {
	width: 100%;
}

.output {
	width: 66%;
	height: 25px;
	cursor: copy;
	font-family: monospace;
}

.toggleViewButton{
	width: 31px;
	background-color: transparent;
	aspect-ratio: 1;
	border: var(--border);
	border-left: none;
	cursor: pointer;
	overflow: hidden;
}

.toggleButtonImg {
	filter: invert();
	scale: 1.5;
}

/* --- */

.links {
	height: 35px;
	margin-top: -5px;
	gap: 10vw;
}

.bottomLink {
	color: var(--clr-accent);
	filter: brightness(80%);
}

.copiedOverlay {
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: hsla(0, 0%, 0%, 0.7);
	z-index: 10;
}

.overlayText {
	color:var(--clr-accent);
	font-size: 18vw;
}

/* --- */

.flex-side-side {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-top-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}