html {
	width: 250px;
	height: 310px;
}

body {
	margin: 0;
	background-color: black;
	border: 2px solid white;
}

input {
	height: 25px;
	width: 80%;
	background-color: black;
	color: white;
	border: 2px solid white;
	transition: 100ms;
}

input:focus {
	outline: none;
	scale: 1.05;
}

/* --- */

.sidebyside {
	display: flex;
	align-items: center;
	justify-content: center;
}

.toponbottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* --- */

.titleSection {
	width: 250px;
	gap: 2.5vw;
	transform: translateX(-10px);
}

.keyLogo {
	height: 16vw;
	width: 16vw;
}

.title {
	color: white;
	font-size: 27pt;
	text-align: center;
	margin-left: -2.5vh;
	margin-top: 3.5vh;
	margin-bottom: 3.5vh;
}

.form {
	gap:3.5vh;
}

.numberInput {
	width: 76px;
	text-align: center;
}

.label {
	text-align: center;
	width: 20px;
	color: white;
}

.quickSettings {
	margin-top: -3vh;
	margin-bottom: -3vh;
}

.lengthInput {
	border-right: 1px solid white;
}

.indexInput {
	border-left: 1px solid white;
}

.outputContainer {
	width: 100%;
	justify-content: center;
}

.output {
	width: 67.5%;
}

.toggleViewButton{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	width: 31px;
	aspect-ratio: 1;
	overflow: hidden
}

.toggleButtonImg {
	scale: 1.75;
}

.links {
	gap: 10vw;
	margin: 0;
	height: 35px;
	color: white;
}


/* SO to https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	appearance: textfield; /* Standard */
	-moz-appearance: textfield; /* Firefox */
}